<p-tabView styleClass="tabview-custom">
  <p-tabPanel header="Header I">
    <ng-template pTemplate="header">
      <i class="pi pi-user"></i>
      <span>All Users</span>
    </ng-template>

    <div class="card-container" >
        <p-card
        *ngFor="let user of allUsers"
        [header]="user.userName"
        [subheader]="user.email"
        [style]="{ width: '300px' }"
      >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
        <ng-template pTemplate="header">
          <img style="width:300px; height:300px" alt="Card" [src]="user.photoUrl" />
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button
            class="card-btn"
            (click)="openModal(user)"
            label="Add Friend"
            icon="pi pi-external-link"
          ></p-button>
        </ng-template>


      </p-card>
     </div>

     <div class="card flex justify-content-center">
      <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </p-tabPanel>


  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
      <i class="pi pi-user"></i>
      <span>Friends</span>
    </ng-template>

    <div id="container">
      <aside>
        <header>
          <input type="text" placeholder="search">
        </header>

        <ul>

            <div *ngFor="let friend of allFriend$ | async">

              <li (click)="displayChat(friend)">
                <img style="height:35px; width:35px;" [src]="friend.photoUrl" alt="">
                <div>
                  <h2>{{friend.userName}} {{friend.email}}</h2>
                  <h3>
                    <span class="status green"></span>
                    online
                  </h3>
                </div>
              </li>
          </div>
          </ul>


      </aside>
      <main *ngIf="targetUser !== undefined">
        <header>
          <img *ngIf="targetUser.photoUrl" style="height:35px; width:35px;" [src]="targetUser.photoUrl" alt="">
          <div>
            <h2>Chat with {{targetUser !== undefined ? targetUser.userName : ''}}</h2>
          </div>
          <img style="height:35px; width:35px;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
        </header>


          <ul id="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div *ngFor="let message of allMessages">
            <div *ngIf="message.senderUsername === targetUser!.userName">

              <li class="you">
                <div class="entete">
                  <span class="status green"></span>
                  <h2>{{targetUser.userName}}</h2>
                  <h3>{{message.messageSent | date: 'medium'}}</h3>
                </div>
                <div class="triangle"></div>
                <div class="message">
                  {{message.content}}
                </div>
              </li>

            </div>

            <div *ngIf="message.senderUsername === currentUserWithFriends!.userName">
              <li class="me">
                <div class="entete">
                  <span class="status green"></span>
                  <h2>{{currentUserWithFriends!.userName}}</h2>
                  <h3>{{message.messageSent | date: 'medium'}}</h3>
                </div>
                <div class="triangle"></div>
                <div class="message">
                  {{message.content}}
                </div>
              </li>

            </div>
          </div>
          </ul>


        <footer>
          <textarea [(ngModel)]="messageContent" placeholder="Type your message"></textarea>
          <img style="height:35px; width:35px;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
          <img style="height:35px; width:35px;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
          <button (click)="createMessage()">Send</button>
        </footer>
      </main>
    </div>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '500px' }">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Friend Request !</span>
  </ng-template>
  <h1>Would you like to send a friend request to {{targetU?.userName}}</h1>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="sendFriendRequest()" label="Ok"></p-button>
  </ng-template>
</p-dialog>


